/* Header */
header {
  display:flex;
  justify-content: space-between;
}
/* Image Gallery */
#gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  max-width: unset;
}
#gallery > li {
  height: 40vh;
  flex-grow: 1;
  position: relative;
}
#gallery > li:last-child {
  flex-grow: 10;
}
#gallery > li p {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #333;
  margin: 5px;
  background-color: rgb(251, 245, 240,0.5);
  border-radius: 5px;
  padding: 1px 5px;
}
#gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
@media (min-width: 320px) and (max-width: 600px) {
  #gallery > li {
    height: auto;
  }
  #gallery img {
    max-width: 100%;
    min-width: 0;
  }
}

/* Image Detail */

.img-detail {
  display: grid;
  position: relative;
  height: 100%;
}
.img-detail > img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
.img-detail a {
  color: #000;
  opacity: 0.4;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.img-detail a:hover {
  opacity: 0.8;
}
.img-detail > #left-arrow {
  position: absolute;
  top: 50%;
  left: 5px;
}
.img-detail > #right-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
}
.img-detail .material-icons {
  font-size: 80px;
}
@media (min-width: 320px) and (max-width: 600px) {
  .img-detail .material-icons {
    font-size: 40px;
  }
  .img-detail > #right-arrow {
    right: 0;
  }
  .img-detail > #left-arrow {
    left: 0;
  }
}
.img-setting {
  display: flex;
  justify-content: space-between;
}
.img-setting > div {
  margin: 0.5em 0.25em;
}
.img-setting .date {
  white-space: nowrap;
}
.img-data {
  margin: 0 auto;
}
.img-data .artist {
  margin: 0.5em 0.25em;
  display:flex;
}
.shot-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shot-details > div {
  align-items: center;
  margin: 0.5em 0.25em;
}
.shot-details > div > span:last-child {
  padding: 2px 5px 0px;
}
#map {
  height: 150px;
}
